<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="de">
    <meta charset="UTF-8">
    <title>BSI | Wahlüberprüfung</title>
    <link rel="stylesheet" href="{% static 'verification/style-bsi.css' %}" type="text/css"/>
</head>
<body>

<script type='text/javascript'>

    var dictionaryBase64 = {"O": 'o', "I": 'i', "l": 'L'};

    function deconfuse(regularBase64Hash, dictionary) {
        var res = regularBase64Hash.replace(/O/g, dictionary.O);
        res = res.replace(/I/g, dictionary.I);
        res = res.replace(/l/g, dictionary.l);
        return res;
    }

    function split43In4s(hash43Base64) {
        var res = hash43Base64.substr(0, 4);
        var separator = "-";
        for (var i = 1; i < 11; i++) {
            res += separator + hash43Base64.substr(i * 4, 4);
        }
        return res;
    }

    function showVerification() {
        var obj = JSON.parse(document.getElementById("ballot_textarea").value);
        console.log(obj);
        var candidate_code = obj["answers"][0]["randomness"].substring(100, 102);
        console.log(candidate_code);

        var temp_tracker = btoa(obj["answers"][0]["randomness"]).substring(0, 43);
        var deconfused_tracker = deconfuse(temp_tracker, dictionaryBase64);
        var ballot_tracker = split43In4s(deconfused_tracker);
        var candidate;

        switch (candidate_code) {
            case "01":
                candidate = "CDU";
                break;
            case "02":
                candidate = "SPD";
                break;
            case "03":
                candidate = "DIE LINKE";
                break;
            case "04":
                candidate = "GRÜNE";
                break;
            case "05":
                candidate = "FDP";
                break;
            case "06":
                candidate = "AFD";
                break;
            case "07":
                candidate = "PIRATEN";
                break;
            case "08":
                candidate = "FREIE WÄHLER";
                break;
            case "09":
                candidate = "NPD";
                break;
            case "10":
                candidate = "TIERSCHUTZPARTEI";
                break;
            case "11":
                candidate = "ÖDP";
                break;
            case "12":
                candidate = "REP";
                break;
            case "13":
                candidate = "DIE PARTEI";
                break;
            case "14":
                candidate = "PRO DEUTSCHLAND";
                break;
            case "15":
                candidate = "BP";
                break;
            case "16":
                candidate = "Volksabstimmung";
                break;
            case "17":
                candidate = "PDV";
                break;
            case "18":
                candidate = "MLPD";
                break;
            case "19":
                candidate = "PBC";
                break;
            case "20":
                candidate = "BIG";
                break;
            default:
                candidate = "Ungültige Stimme";
        }

        document.getElementById("ballot_tracker_span").innerHTML = ballot_tracker;
        document.getElementById("candidate_span").innerHTML = candidate;
        document.getElementById("proof_data").style.visibility = "visible";
    }
</script>

<div class="header_bsi"><img src="{% static 'verification/images/bsi_logo.png' %}"></div>

<div>

    <div class="headline">
        <h2>Wahlüberprüfung</h2></div>

    <div class="content">

        <span style="text-decoration: underline; font-weight: bold">Fügen</span> Sie Ihre Stimme in das Textfeld ein und
        <span style="text-decoration: underline; font-weight: bold">klicken</span> Sie anschließend auf
        Überprüfung starten.

        <h4>Ihre Stimme:</h4>

        <textarea id="ballot_textarea" rows="10" cols="55"></textarea><br>

        <button onclick="showVerification()" class="verify_button" name="verify">Überprüfung starten</button>


        <div id="proof_data" style="visibility: hidden; margin-top: 2em; line-height: 2em;">

            Wenn <span style="font-weight: bold; color: #336699" id="ballot_tracker_span"></span> ihr Prüf-Code ist<br>
            und Sie <span style="font-weight: bold; color: #336699" id="candidate_span"></span> angekreuzt haben, war
            Ihre Stimme korrekt verschlüsselt.<br>

            <br>

            Falls eines der beiden nicht übereinstimmt, holen Sie bitte die Versuchsleitung. <br>

            Sie können das Tab nun <span style="font-weight:bold; text-decoration: underline">schließen</span>.
        </div>

    </div>
</div>
</body>
</html>