<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="de">
    <meta charset="UTF-8">
    <title>Stimmzettelverifizierer</title>
    <link rel="stylesheet" href="{% static 'verification/style-bsi.css' %}" type="text/css"/>
</head>
<body>

<script type='text/javascript'>
    function showVerification() {
        var obj = JSON.parse(document.getElementById("ballot_textarea").value);
        console.log(obj);
        var candidate_code = obj["answers"][0]["randomness"].substring(100, 102);
        console.log(candidate_code);
        var ballot_tracker = btoa(obj["answers"][0]["randomness"]).substring(0, 16);
        var candidate;

        switch (candidate_code) {
            case "01":
                candidate = "CDU";
                break;
            case "02":
                candidate = "SPD";
                break;
            case "03":
                candidate = "DIE LINKE";
                break;
            case "04":
                candidate = "GRÜNE";
                break;
            case "05":
                candidate = "CSU";
                break;
            case "06":
                candidate = "FDP";
                break;
            case "07":
                candidate = "AFD";
                break;
            case "08":
                candidate = "PIRATEN";
                break;
            case "09":
                candidate = "FREIE WÄHLER";
                break;
            case "10":
                candidate = "NPD";
                break;
            case "11":
                candidate = "TIERSCHUTZPARTEI";
                break;
            case "12":
                candidate = "ÖDP";
                break;
            case "13":
                candidate = "REP";
                break;
            case "14":
                candidate = "DIE PARTEI";
                break;
            case "15":
                candidate = "PRO DEUTSCHLAND";
                break;
            case "16":
                candidate = "BP";
                break;
            case "17":
                candidate = "Volksabstimmung";
                break;
            case "18":
                candidate = "PDV";
                break;
            case "19":
                candidate = "MLPD";
                break;
            case "20":
                candidate = "PBC";
                break;
            case "21":
                candidate = "BIG";
                break;
            default:
                candidate = "Ungültige Stimme";
        }
        document.getElementById("ballot_tracker_span").innerHTML = ballot_tracker;
        document.getElementById("candidate_span").innerHTML = candidate;
        document.getElementById("proof_data").style.visibility = "visible";
    }
</script>

<div class="header_bsi"><img src="{% static 'verification/images/bsi_logo.png' %}"></div>

<div>

    <div class="headline">
        <h2>Stimmzettelverifizierer</h2></div>

    <div class="content">

        In diesen Stimmzettelverifizierer können Sie Ihren geprüften Stimmzettel eingeben.<br>
        und verifizieren, dass er korrekt erstellt wurde.

        <h4>Ihr Stimmzettel:</h4>

        <textarea id="ballot_textarea" rows="10" cols="55"></textarea><br>

        <button onclick="showVerification()" class="verify_button" name="verify">Verifizieren</button>


        <div id="proof_data" style="visibility: hidden; margin-top: 2em;">

            laden...<br>
            Stimmzettel-Tracking-Code ist <span id="ballot_tracker_span"></span><br>
            Inhalt des Stimmzettels:<br>
            <span id="candidate_span"></span><br>
            Verschlüsselung verifiziert.<br>
            Beweise ok.<br>

            <br>

            ERFOLGREICHE VERIFIKATION, FERTIG!
        </div>

        <div id="proof_data_fail" style="visibility: hidden; margin-top: 2em;">

            laden...<br>
            Stimmzettel-Tracking-Code ist<span id="ballot_tracker_span"></span><br>
            Inhalt des Stimmzettels:<br>
            <span id="candidate_span"></span><br>
            Verschlüsselung verifiziert.<br>
            Beweise ok.

            <br>

            PROBLEM - DER STIMMZETTEL KANN NICHT VERIFIZIERT WERDEN.
        </div>

    </div>
</div>
</body>
</html>