<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Single Ballot Verifier</title>
    <link rel="stylesheet" href="{% static 'verification/style.css' %}" type="text/css"/>
</head>
<body>
<div style="margin: 2em 0;">
    <h3>Single Ballot Verifier</h3>

    <div class="content">

        This single-ballot verifier lets you enter an audited ballot<br>
        and verify that it was prepared correctly.

        <h4>Your ballot:</h4>

        <form method="post">
            {% csrf_token %}
            <textarea rows="10" cols="63"></textarea><br>

            <button class="verify_button" name="verify">{% trans "Verify" %}</button>

        </form>

        {% if verification_successful %}
        <div class="proof_data">

            loading...<br>
            smart ballot tracker is {{ ballotTracker }}<br>
            Ballot Contents:<br>
            Question {{ question }}: {{ candidate }}<br>
            Encryption Verified<br>
            Proofs ok.<br>

            <br>

            SUCCESSFUL VERIFICATION, DONE!
        </div>
        {% endif %}
    </div>
</div>
</body>
</html>