<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Single Ballot Verifier</title>
    <link rel="stylesheet" href="{% static 'verification/style.css' %}" type="text/css"/>
</head>
<body>

<script type='text/javascript'>

    function showVerification() {
        var obj = JSON.parse(document.getElementById("ballot_textarea").value);
        console.log(obj);
        document.getElementById("proof_data").style.visibility = "visible";
    }

</script>

<div style="margin: 2em 0;">
    <h3>Single Ballot Verifier</h3>

    <div class="content">

        This single-ballot verifier lets you enter an audited ballot<br>
        and verify that it was prepared correctly.

        <h4>Your ballot:</h4>

        <textarea id="ballot_textarea" rows="10" cols="63"></textarea><br>

        <button onclick="showVerification()" class="verify_button" name="verify">{% trans "Verify" %}</button>


        <div id="proof_data" style="visibility: hidden">

            loading...<br>
            smart ballot tracker is {{ ballotTracker }}<br>
            Ballot Contents:<br>
            Question {{ question }}: {{ candidate }}<br>
            Encryption Verified<br>
            Proofs ok.<br>

            <br>

            SUCCESSFUL VERIFICATION, DONE!
        </div>

        <div id="proof_data_fail" style="visibility: hidden">

            loading...<br>
            smart ballot tracker is {{ ballotTracker }}<br>
            Ballot Contents:<br>
            Question {{ question }}: {{ candidate }}<br>
            Encryption Verified<br>
            Proofs ok.<br>

            <br>

            PROBLEM - THIS BALLOT DOES NOT VERIFY.
        </div>

    </div>
</div>
</body>
</html>