<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Single Ballot Verifier</title>
    <link rel="stylesheet" href="{% static 'verification/style.css' %}" type="text/css"/>
</head>
<body>

<script type='text/javascript'>

    function showVerification() {
        var obj = JSON.parse(document.getElementById("ballot_textarea").value);
        var candidate_code = obj.choice.substring(50, 52);
        console.log(obj);
        console.log(candidate_code);

        var ballot_tracker = btoa(obj.choice).substring(0, 42);

        var candidate = "Invalid Vote"

        switch (candidate_code) {
            case "01":
                candidate = "Candidate 1";
                break;
            case "02":
                candidate = "Candidate 2";
                break;
            case "03":
                candidate = "Candidate 3";
                break;
            case "04":
                candidate = "Candidate 4";
                break;
            case "05":
                candidate = "Candidate 5";
                break;
            case "06":
                candidate = "Candidate 6";
                break;
            case "07":
                candidate = "Candidate 7";
                break;
            case "08":
                candidate = "Candidate 8";
                break;
            case "09":
                candidate = "Candidate 9";
                break;
            case "10":
                candidate = "Candidate 10";
                break;
            default:
                candidate = "Invalid Vote";
        }

        document.getElementById("ballot_tracker_span").innerHTML = ballot_tracker;
        document.getElementById("candidate_span").innerHTML = candidate;
        document.getElementById("proof_data").style.visibility = "visible";
    }

</script>

<div style="margin: 2em 0;">
    <h3>Single Ballot Verifier</h3>

    <div class="content">

        This single-ballot verifier lets you enter an audited ballot<br>
        and verify that it was prepared correctly.

        <h4>Your ballot:</h4>

        <textarea id="ballot_textarea" rows="10" cols="63"></textarea><br>

        <button onclick="showVerification()" class="verify_button" name="verify">{% trans "Verify" %}</button>


        <div id="proof_data" style="visibility: hidden; margin-top: 2em;">

            loading...<br>
            smart ballot tracker is <span id="ballot_tracker_span"></span><br>
            Ballot Contents:<br>
            Question: Testquestion : <span id="candidate_span"></span> <br>
            Encryption Verified<br>
            Proofs ok.<br>

            <br>

            SUCCESSFUL VERIFICATION, DONE!
        </div>

        <div id="proof_data_fail" style="visibility: hidden; margin-top: 2em;">

            loading...<br>
            smart ballot tracker is <span id="ballot_tracker_span"></span><br>
            Ballot Contents:<br>
            Question: Testquestion : <span id="candidate_span"></span><br>
            Encryption Verified<br>
            Proofs ok.<br>

            <br>

            PROBLEM - THIS BALLOT DOES NOT VERIFY.
        </div>

    </div>
</div>
</body>
</html>